// Define variables for your color scheme

$yellow: #F2FF00;
$mnibblue: #0505C8;
$light-yellow: #F8F7F5;
$gray: #191919;
$light-gray: rgba(25, 25, 25, 0.9);
$white: #FFF;
$very-light-gray: rgb(220, 220, 220);
$hover-gray: rgba(25, 25, 25, 0.4);

$red: #EE5F5B;
$blue: #469AE0;
$green: #32B796;
$orange: #F19625;
