// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Josefin+Sans:300,400,600,700|Quicksand:300,400,500,700');

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "LGC";
//   src: font-url('LGC/LGC.eot');
//   src: font-url('LGC/LGC.eot?#iefix') format('embedded-opentype'),
//        font-url('LGC/LGC.woff') format('woff'),
//        font-url('LGC/LGC.ttf') format('truetype')
// }
// $my-font: "LGC";

// Define fonts for body and headers
$body-font: 'Josefin Sans', 'Quicksand';
$headers-font: 'Josefin Sans', 'Quicksand';
$sharry-font: "Comfortaa", "Josefin Sans";

p {
  font-weight: lighter;
}

// sharry brand
.sharry-brand {
  font-family: $sharry-font;
  font-weight: bold;
}
