// Introduction
#subtitle2 {
  font-weight: 300;
}

// Interior Design
.interior {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,w_1200/v1527666481/moodboard.jpg");
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 50px 80px -40px rgba(0,0,0,.3);
}
@media (min-width: 768px) {
  .interior {
    height: 700px;
  }
}
