// Specific CSS for your home-page

//container yellow-wrapper
.container {
  text-align: center;
}

// Where
.where-content {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  color: $yellow;
  height: 200px;
}
