<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/sharry.co/"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-medium"></i></a>
  </div>
</div>
