<h2>Fully furnished home</h2>
<div class="row furnished">
  <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524498180/bedroom.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
  <div class="col-xs-12 col-sm-6 furnished-content">
    <h3>Private bedroom</h3>
    <p>Includes a bathroom</p>
    <p>Peaceful design</p>
    <p>Sheets in option for 100% comfort</p>
    <p>High speed wifi & Netflix</p>
  </div>
</div>

<div class="row furnished">
  <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524497810/interiordesign.jpg" alt="Common space" class="col-xs-12 col-sm-6 images mask-right-card">
  <div class="col-xs-12 col-sm-6 furnished-content">
    <h3>Playful common spaces</h3>
    <p>Kitchen & trendy living room</p>
    <p>Terrace for sunny days</p>
    <p>Eco-conscious environment</p>
    <p>Weekly cleaning</p>
  </div>
  <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524497810/interiordesign.jpg" alt="Common space" class="col-xs-12 col-sm-6 images display-right-img">
</div>
