<div class="banner-headers" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.6) 0%, rgba(0,0,0,0.6) 50%), url('http://res.cloudinary.com/sharry/image/upload/c_limit,w_782/v1524579284/2018.jpg');">
  <div class="banner-content">
    <h1>About us</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h3 id="subtitle">Atypical and unique places where everyone feels at home</h3>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524580708/alexlucie.jpg" alt="Alex&Lucie" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <p>Nous nous appliquons à faciliter la vie de nos sharrymates.</p>
        <p>Vivre chez sharry, c’est aimer faire de nouvelles rencontres, partager et  faire des économies.</p>
        <p>Plus besoin de se soucier du ménage, de l’emménagement ou de la gestion des factures !</p>
      </div>
    </div>

    <h2>Dream Team</h2>
    <div class="profile">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="http://res.cloudinary.com/sharry/image/upload/q_100/v1524587350/AlexTchidemiansquare.png" alt="alexandra" class="avatar">
          <div class="profile-content">
            <h3>Alexandra Tchidemian</h3>
            <p>Cofounder - Real Estate Manager</p>
            <p>Wondermum ° Sourcing killer ° Rockstar</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="http://res.cloudinary.com/sharry/image/upload/q_100/v1524587360/luciemoreausquare.jpg" alt="lucie" class="avatar">
          <div class="profile-content">
            <h3>Lucie Moreau</h3>
            <p>Cofounder - Coliving Manager</p>
            <p>Roommate ° Startupper soul ° Dreamer</p>
          </div>
        </div>
      </div>

    </div>
    <div class="story-sharry">
      <p>"Lucie’s story is part of the beginning of sharry… She is 31 years old. She lives in an house share, she is also bill-phobic and moves oftenly. In 9 years, she has moved 13 times. She prefers to share than to own. She doesn’t want to live alone nevertheless she needs her own space. She likes living with other people but she refuses some drawbacks. This digital native is curious about the world surrounding us. She inspires sharry." Alexandra</p>
    </div>

    <h2>Values</h2>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524582432/sharing.jpg" alt="Sharing" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Sharing</h3>
        <p>Diversity of experiences</p>
        <p>Life is happiness</p>
        <p>***TEXTE A AJOUTER***</p>
      </div>
    </div>
    <div class="row furnished">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Aestheticism</h3>
        <p>An 100% serenity bedroom</p>
        <p>Groovy common spaces</p>
        <p>In distinguished houses</p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524585448/livingroom2.jpg" alt="Aestheticism" class="col-xs-12 col-sm-6 images">
    </div>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524582566/ecoconscious.jpg" alt="Eco consciousness" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Eco consciousness</h3>
        <p>Selective sorting</p>
        <p>Recycled furniture</p>
        <p>Home automation</p>
      </div>
    </div>
  </div>
</div>
