<% content_for(:navbar_class, "navbar-home") %>

<div class="bannerabout banner-headers">
  <div class="banner-content">
    <h1>About us</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h3 id="subtitle">Atypical and unique places where everyone feels at home</h3>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524580708/alexlucie.jpg" alt="Alex&Lucie" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <p>We do our utmost to make our sharrymates’ life easier.</p>
        <p>No worries about the cleaning, the moving in, or even the bills!</p>
        <p>Live at sharry’s, if you like to meet new people in a comfortable and wonderful place.</p>
      </div>
    </div>

    <h2>Dream Team</h2>
    <div class="profile">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,q_100/v1524587350/AlexTchidemiansquare.png" alt="alexandra" class="avatar">
          <div class="profile-content">
            <h3>Alexandra Tchidemian</h3>
            <p>Cofounder - Real Estate Manager</p>
            <p>Wondermum ° Sourcing killer ° Rockstar</p>
            <a href="https://www.linkedin.com/in/alexandra-tchidemian-36b19626" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,q_100/v1524587360/luciemoreausquare.jpg" alt="lucie" class="avatar">
          <div class="profile-content">
            <h3>Lucie Moreau</h3>
            <p>Cofounder - Coliving Manager</p>
            <p>Roommate ° Startupper soul ° Dreamer</p>
            <a href="https://www.linkedin.com/in/lucie-moreau-19388248" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
          </div>
        </div>
      </div>

    </div>
    <div class="story-sharry">
      <p>"Lucie’s story is part of the beginning of sharry… She is 32 years old and still lives in an house share. she is bill-phobic and moves often. In 9 years, she has moved 13 times. She prefers to share than to own. She doesn’t want to live alone nevertheless she needs her own space. She likes living with other people but she refuses some drawbacks. This digital native is curious about the world surrounding us. She inspires sharry." Alexandra</p>
    </div>

    <h2>Values</h2>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524582432/sharing.jpg" alt="Sharing" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Sharing</h3>
        <p>Experience diversity</p>
        <p>Reside together while everybody has his/hers own space</p>
        <p>Life is happiness</p>
      </div>
    </div>
    <div class="row furnished righ-card">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524585448/livingroom2.jpg" alt="Aestheticism" class="col-xs-12 col-sm-6 images mask-right-card">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Aestheticism</h3>
        <p>A 100% serenity bedroom</p>
        <p>Groovy common spaces</p>
        <p>In distinguished houses</p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524585448/livingroom2.jpg" alt="Aestheticism" class="col-xs-12 col-sm-6 images display-right-img">
    </div>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1524645106/breathe.jpg" alt="Eco consciousness" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Eco consciousness</h3>
        <p>Selective sorting</p>
        <p>Recycled furniture</p>
        <p>Home automation</p>
      </div>
    </div>
  </div>
</div>
