<div class="banner-headers" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.6) 0%, rgba(0,0,0,0.6) 50%), url('http://res.cloudinary.com/sharry/image/upload/c_limit,w_782/v1524579284/2018.jpg');">
  <div class="banner-content">
    <h1>About us</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h3 id="subtitle">Atypical and unique places where everyone feels at home</h3>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524580708/alexlucie.jpg" alt="Alex&Lucie" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <p>Nous nous appliquons à faciliter la vie de nos sharrymates.</p>
        <p>Vivre chez sharry, c’est aimer faire de nouvelles rencontres, partager et  faire des économies.</p>
        <p>Plus besoin de se soucier du ménage, de l’emménagement ou de la gestion des factures !</p>
      </div>
    </div>

    <h2>Dream Team</h2>
    <div class="profile">

    </div>
    <div class="">
      <p>« L’histoire de sharry, c’est l’histoire de Lucie…Elle a 31 ans. Elle est colocataire, facturophobe et serial-déménageuse.. En 9 ans, elle a déménagé 13 fois. Elle préfère partager plutôt que posséder.  Elle ne veut pas vivre seule mais a néanmoins besoin d’avoir un coin rien qu’à elle. Elle aime la vie en communauté mais en refuse certains  inconvénients.… Cette digital native est curieuse du monde qui nous entoure. Elle inspire sharry » Alexandra</p>
    </div>

    <h2>Values</h2>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524498180/bedroom.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Sharing</h3>
        <p>Diversity of experiences</p>
        <p>Life is happiness</p>
        <p>***TEXTE A AJOUTER***</p>
      </div>
    </div>
    <div class="row furnished">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Aestheticism</h3>
        <p>An 100% serenity bedroom</p>
        <p>Groovy common spaces</p>
        <p>In distinguished houses</p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524497810/interiordesign.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
    </div>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524497810/interiordesign.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Eco consciousness</h3>
        <p>Selective sorting</p>
        <p>Recycled furniture</p>
        <p>Home automation</p>
      </div>
    </div>
  </div>
</div>
