<div class="banner-headers" style="background-image: linear-gradient(-225deg, rgba(200, 200, 200, 0.1) 0%, rgba(0, 0, 0, 0.6) 50%), url('http://res.cloudinary.com/sharry/image/upload/c_scale,w_1174/v1525358146/hello.jpg');">
  <div class="banner-content">
    <h1>Contact us</h1>
    <p id="hello">hello@sharry.co</p>
    <a href="mailto:hello@sharry.co" title="hello@sharry.co">hello@sharry.co</a>
  </div>
</div>
