<div class="banner-headers bannerdesign">
  <div class="banner-content">
    <h1>Design</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">

    <h2>Interior design</h2>
    <h4 id="subtitle2">Space organization is defined on the baseline:</h4>
    <h4 id="subtitle2">live together & on your own,</h4>
    <h4 id="subtitle2">in an amazing uncommon place where everybody feels at home.</h4>
    <div class="interior">
    </div>

    <h2>Ingenious layout</h2>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524670342/bed.jpg" alt="Bedroom" class="col-xs-12 col-sm-6">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Private bedroom</h3>
        <p>Soundproofing</p>
        <p>Closet on wheels</p>
        <p>Lift bed to storage the luggage</p>
        <!-- <p>Include a shower area</p> -->
        <p>Cork wall to pin your life</p>
      </div>
    </div>
    <div class="row furnished ">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524669959/cook.jpg" alt="Kitchen" class="col-xs-12 col-sm-6 mask-right-card">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Functional kitchen</h3>
        <p>Glass door fridge to write your name</p>
        <p>Closed personal cupboard</p>
        <p>Stock of common needs</p>
        <p>Quality cooking equipment</p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524669959/cook.jpg" alt="Kitchen" class="col-xs-12 col-sm-6 display-right-img">
    </div>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1525556897/groupeterrasse.jpg" alt="More" class="col-xs-12 col-sm-6">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Many more</h3>
        <p>Overhead projector</p>
        <p>Work space</p>
        <p>Laundry room</p>
        <p>Terrace</p>
      </div>
    </div>
  </div>
</div>
