<div class="banner-headers" style="background-image: linear-gradient(-225deg, rgba(200, 200, 200, 0.1) 0%, rgba(0, 0, 0, 0.6) 50%), url('http://res.cloudinary.com/sharry/image/upload/c_scale,q_100,w_1079/v1524669546/livingroomfleur.jpg');">
  <div class="banner-content">
    <h1>Design</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h3 id="subtitle">L’organisation de l’espace est définie selon la baseline : 
vivre ensemble mais séparés dans un lieu atypique où chacun se sent chez soi.</h3>
    <h2>Interior design</h2>

    <h2>Ingenious layout</h2>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524670342/bed.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Private bedroom</h3>
        <p>Soundproofing</p>
        <p>Closet on wheels</p>
        <p>Lift bed to storage the luggage</p>
        <p>Include a shower area</p>
        <p>Cork wall to pin your life</p>
      </div>
    </div>
    <div class="row furnished">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Functional kitchen</h3>
        <p>Glass door fridge to write your name</p>
        <p>Closed personal cupboard</p>
        <p>Stock of common needs</p>
        <p>Quality cooking equipment</p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524669959/cook.jpg" alt="Kitchen" class="col-xs-12 col-sm-6 images">
    </div>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524672666/woodtool.jpg" alt="More" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Many more</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
