<% content_for(:navbar_class, "navbar-home") %>

<div class="banner-header">
  <div class="banner-content">
    <h1>Coliving for urban residents</h1>
    <h3>Private peaceful rooms in enthusiastic homes</h3>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>Where?</h2>
    <div class="where">
      <div class="where-content">
        <h3>Lille</h3>
        <p>September, 2018</p>
      </div>
    </div>

    <h2>Fully furnished home</h2>
  </div>
</div>

<div class="join-banner">
  <div class="join-content">
    <h1>Ready to move in?</h1>
    <h4>Stay tuned</h4>
  </div>
  <div class="email">
    
  </div>
</div>
