<% content_for(:navbar_class, "navbar-home") %>

<div class="banner-header">
  <div class="banner-content">
    <h1>Coliving for urban residents</h1>
    <h3>Private peaceful rooms in enthusiastic homes</h3>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>Where?</h2>
    <div class="where">
      <div class="where-content">
        <h3>Lille</h3>
        <p>September, 2018</p>
      </div>
    </div>

    <%= render 'shared/fullyfurnished' %>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1525340691/community.jpg" alt="Community" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Community</h3>
        <p>Home manager</p>
        <p>Events</p>
        <p>e-concierge for more services</p>
        <p>Online booking</p>
      </div>
    </div>

  </div>
</div>

<%= render 'shared/joinbanner' %>
