<% content_for(:navbar_class, "navbar-home") %>

<div class="banner-header">
  <div class="banner-content">
    <h1>Coliving for urban residents</h1>
    <h3>Private peaceful rooms in enthusiastic homes</h3>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>Where?</h2>
    <div class="where">
      <div class="where-content">
        <h3>Lille</h3>
        <p>September, 2018</p>
      </div>
    </div>

    <h2>Fully furnished home</h2>
    <div class="row">
     <ul>
       <li class="furnished">
         <div class="">
           <a href="/">
             <%= image_tag "http://res.cloudinary.com/sharry/image/upload/c_fit,h_212,w_443/v1524498180/bedroom.jpg", class:"left-pic" %>
           </a>
         </div>

         <div class="furnished-content">
           <h3>Private bedroom</h3>
           <p>Includes a bathroom</p>
           <p>Peaceful design</p>
           <p>Sheets in option for 100% comfort</p>
           <p>High speed wifi & Netflix</p>
         </div>
       </li>

       <li class="furnished">
         <div class="furnished-content">
           <h3>Playful common spaces</h3>
           <p>Share the kitchen & the trendy living room</p>
           <p>Terrace for sunny days</p>
           <p>Eco-conscious environment</p>
           <p>Weekly cleaning</p>
         </div>
         <div class="images">
           <a href="/">
             <%= image_tag "http://res.cloudinary.com/sharry/image/upload/c_fit,h_212,w_443/v1524497810/interiordesign.jpg", class:"left-pic" %>
           </a>
         </div>

       </li>
       <li class="furnished">
         <div class="images">
           <a href="/">
             <%= image_tag "http://res.cloudinary.com/sharry/image/upload/c_fit,h_212,w_443/v1524497810/interiordesign.jpg", class:"left-pic" %>
           </a>
         </div>

         <div class="furnished-content">
           <h3>Community</h3>
           <p>Home manager</p>
           <p>Events</p>
           <p>e-concierge for more services</p>
           <p>Online booking</p>
         </div>
       </li>
     </ul>

   </div>
  </div>
</div>

<div class="join-banner">
  <div class="join-content">
    <h1>Ready to move in?</h1>
    <h4>Stay tuned</h4>
  </div>
  <div class="email">

  </div>
</div>
