<div class="banner-header" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Coliving for urban residents</h1>
    <h3>Private peaceful rooms in enthusiastic homes</h3>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>Where?</h2>
    <div class="container">
      <div class="where-content"  style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <h3>Lille</h3>
        <p>September, 2018</p>
      </div>
    </div>

    <h2>Fully furnished home</h2>
  </div>
</div>

<div class="banner">
    <h1>Ready to move in?</h1>
    <h4>Stay tuned</h4>
</div>
