<div class="banner-header">
  <div class="banner-content">
    <h1>Coliving for urban residents</h1>
    <h3>Private peaceful rooms in enthusiastic homes</h3>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>Where?</h2>
    <div class="where">
      <div class="where-content">
        <h3>Lille</h3>
        <p>January, 2019</p>
      </div>
    </div>

    <%= render 'shared/fullyfurnished' %>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1525340691/community.jpg" alt="Community" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Community</h3>
        <p>Home manager</p>
        <p>Events</p>
        <p>e-concierge for more services</p>
        <p>Online booking</p>
      </div>
    </div>

  </div>
</div>
<div id="joinsharry">
</div>
<%= render 'shared/joinbanner' %>

<%= content_for :js do %>
  <script>
  $(function() {
    $("a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "")
      {
        // Prevent default anchor click behavior
        event.preventDefault();
        // Store hash
        var hash = this.hash;
        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>
<% end %>
