<% content_for(:navbar_class, "navbar-home") %>

<div class="banner-header">
  <div class="banner-content">
    <h1>Coliving for urban residents</h1>
    <h3>Private peaceful rooms in enthusiastic homes</h3>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>Where?</h2>
    <div class="where">
      <div class="where-content">
        <h3>Lille</h3>
        <p>September, 2018</p>
      </div>
    </div>

    <h2>Fully furnished home</h2>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524498180/bedroom.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Private bedroom</h3>
        <p>Includes a bathroom</p>
        <p>Peaceful design</p>
        <p>Sheets in option for 100% comfort</p>
        <p>High speed wifi & Netflix</p>
      </div>
    </div>

    <div class="row furnished">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Playful common spaces</h3>
        <p>Share the kitchen & the trendy living room</p>
        <p>Terrace for sunny days</p>
        <p>Eco-conscious environment</p>
        <p>Weekly cleaning</p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524497810/interiordesign.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
    </div>

    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524497810/interiordesign.jpg" alt="Bedroom" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Community</h3>
        <p>Home manager</p>
        <p>Events</p>
        <p>e-concierge for more services</p>
        <p>Online booking</p>
      </div>
    </div>
  </div>
</div>

<div class="join-banner">
  <div class="join-content">
    <h1>Ready to move in?</h1>
    <h4>Stay tuned</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <form action="">
          <div class="form-group">
            <label for="email"></label>
            <input type="text" name="" placeholder="sheldon@bbt.com" class="form-control" id="email">
          </div>
          <input type="submit" name="" value="Send" class="btn-cta">
        </form>
      </div>
    </div>
  </div>
</div>
