<div class="banner-headers bannerinvestor">
  <div class="banner-content">
    <h1>Investor</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>What we do</h2>
    <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524667973/partnership.jpg" alt="Partnership" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <p>
          sharry is a real estate company. We develop long-term partnerships with our investors (a 9-year lease agreement).
          From the search of the building, the refurbishment or the construction, to its operation, we offer a turnkey concept.
          sharry manages the property meanwhile its residents live a unique experiment.
        </p>
      </div>
    </div>

    <h2>Assure you a better profitability</h2>
    <div class="row furnished">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <p>The house-sharing market is fast-growing: an increase of 35% in the last 7 years in France.
          sharry rents the property to the owner so that the rent is guaranteed all year during the 9-year lease agreement.
        </p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524666759/cityfrance.jpg" alt="Profitability" class="col-xs-12 col-sm-6 images">
    </div>
    <h2>Manage the property</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="manage-property">
          <h3>Easy booking</h3>
          <p>Online formality to
            reduce paperwork</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="manage-property">
          <h3>24/7 assistance</h3>
          <p>We solve every day trouble
            (maintenance, billing, etc)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="manage-property">
          <h3>Handled turnover</h3>
          <p>Waiting list for future colivers
            to maintain 98% of occupancy</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="manage-property">
          <h3>Digital marketing</h3>
          <p>Strong visibility on social networks
            to strengthen our brand</p>
        </div>
      </div>
    </div>

    <h2>Localization</h2>
    <div class="row furnished">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <p>City Center</p>
        <p>Near to public transport</p>
        <p>Near to stores, bars & restaurants</p>
      </div>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524667803/villenuit.jpg" alt="Localization" class="col-xs-12 col-sm-6 images">
    </div>
    <!-- <div class="row furnished">
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1524669058/roommate.jpg" alt="House share" class="col-xs-12 col-sm-6 images">
      <div class="col-xs-12 col-sm-6 furnished-content">
        <h3>Localization</h3>
        <p>More and more people live in house share. sharry offers them a comfortable and amazing space while investors get a better profitability.</p>
      </div>
    </div> -->

    <h2>Build places to live together</h2>
    <div class="row build">
      <div class="col-xs-12 col-sm-4">
        <div class="profile-content">
          <h3>Mobility</h3>
          <p>+120% Freelance in 10 years</p>
          <p>= 10 times faster than employees</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="profile-content">
          <h3>Neo family</h3>
          <p>11 million of the 20-39</p>
          <p>year-old youngers live alone</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="profile-content">
          <h3>Booming market</h3>
          <p>5000 flatshare rooms available</p>
          <p>vs 32000 weekly applications</p>
        </div>
      </div>
    </div>

  </div>
</div>
