<div class="banner-headers" style="background-image: linear-gradient(-225deg, rgba(200, 200, 200, 0.1) 0%, rgba(0, 0, 0, 0.6) 50%), url('http://res.cloudinary.com/sharry/image/upload/c_scale,q_90,w_965/v1525349184/tong.jpg');">
  <div class="banner-content">
    <h1>Living at sharry's</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>sharry’s concept</h2>
      <p>Vivre avec tes alter egos dans une maison d’exception.

      Tu recherches le confort d’un logement meublé et aimes vivre dans un lieu qui a du cachet.
      Tu es indépendant mais apprécies l’atmosphère chaleureuse de la colocation.
      sharry est à mi-chemin entre la colocation et l’hôtel.
      Ici chacun a sa chambre avec sa salle de douche, tout en partageant la cuisine et le salon.
      sharry facilite la vie de la génération Y en respectant leur besoin de « vivre ensemble mais séparés ». La sharryhome c’est un cadre atypique où le sharrymate se sent chez lui.
      </p>

      <h2>Compared rent</h2>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,q_100,w_734/v1525349923/rent_comparison.jpg" alt="Rent comparison">


      <%= render 'shared/fullyfurnished' %>
      <h2>Community</h2>
      <div class="row furnished">
        <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1525340691/community.jpg" alt="Community" class="col-xs-12 col-sm-6 images">
        <div class="col-xs-12 col-sm-6 furnished-content">
          <h3>Happy vibes together</h3>
          <p>Home manager</p>
          <p>Events</p>
          <p>Millenial tools like whatsapp & slack</p>
        </div>
      </div>

      <h2>Services</h2>
      <div class="row furnished">
        <div class="col-xs-12 col-sm-6 furnished-content">
          <h3>All online</h3>
          <p>Booking & rent contract</p>
          <p>E-concierge:</p>
          <p>Room cleaning, bedlinen rent</p>
        </div>
        <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,h_427,q_100/v1525340493/telephone.jpg" alt="E-concierge" class="col-xs-12 col-sm-6 images">
      </div>

  </div>
  <%= render 'shared/joinbanner' %>
</div>
