<div class="banner-headers bannerliving">
  <div class="banner-content">
    <h1>Living at My Name Is Bernard's</h1>
  </div>
</div>

<div class="yellow-wrapper">
  <div class="container">
    <h2>My Name Is Bernard’s concept</h2>
      <h3>Live with your alter egos in an distinguished home</h3>
      <p>
        You look for comfort in a furnished place, all included. Living in a house with character delights you.
        You are independent but appreciate the warming atmosphere of roomsharing.
        My Name Is Bernard is in between house sharing and hotel.
      </p>
      <p>
        Here everybody has a private bathroom, while sharing the kitchen and the living-room.
        My Name Is Bernard makes easier the millenial generation life easier respecting their need to « live together but
        separated ».
        The home is an uncommon urban setting where the mate feels at home.
      </p>

      <h2>Compared rent</h2>
      <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8/v1538744631/Compared_rent.jpg" alt="Rent comparison" class="rent-comparison images">


      <%= render 'shared/fullyfurnished' %>
      <h2>Community</h2>
      <div class="row furnished">
        <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1525340691/community.jpg" alt="Community" class="col-xs-12 col-sm-6 images">
        <div class="col-xs-12 col-sm-6 furnished-content">
          <h3>Happy vibes together</h3>
          <p>Home manager</p>
          <p>Events</p>
          <p>Millenial tools like whatsapp & slack</p>
        </div>
      </div>

      <h2>Services</h2>
      <div class="row furnished">
        <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1525340493/telephone.jpg" alt="E-concierge" class="col-xs-12 col-sm-6 images mask-right-card">
        <div class="col-xs-12 col-sm-6 furnished-content">
          <h3>All online</h3>
          <p>Booking & rent contract</p>
          <p>E-concierge:</p>
          <p>Room cleaning, bedlinen rental...</p>
        </div>
        <img src="http://res.cloudinary.com/sharry/image/upload/c_scale,dpr_auto,fl_png8,h_427,q_100/v1525340493/telephone.jpg" alt="E-concierge" class="col-xs-12 col-sm-6 images display-right-img">
      </div>

  </div>
  <%= render 'shared/joinbanner' %>
</div>
