.footer {
  background: $gray;
  padding: 10px;
  padding-bottom: 40px;
  .container {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    min-height: 350px;
    padding: 0px 50px;
    padding-bottom: 50px;
  }
}


.footer-title {
  color: $white;
}
.footer-title p {
  opacity: 0.85;
}

.footer-links {
  // display: flex;
  // align-items: center;
  color: $white;
  opacity: 0.85;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}

.footer-links a {
  color: $white;
  opacity: 0.85;
  text-decoration: none;
  // padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.7;
  text-decoration: none;
}

/* Logo */
.partner-brand img {
  height: 60px;
}

#logoca {
  background-color: $white;
}


element.style {
}
#footer {
    border-top: 1px solid #ccc;
}
