.footer {
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  padding: 0px 50px;
}

.footer-title {
  color: $white;
}

.footer-title p {
  font-weight: 300;
  opacity: 0.85;
}

.footer-links {
  display: flex;
  align-items: center;
  color: $white;
  opacity: 0.85;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  :hover {
    opacity: 0.7;
    text-decoration: none;
  }
}
.footer-links a {
  color: $white;
  opacity: 0.85;
  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.7;
  text-decoration: none;
}
